@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Free resume service </p>


</div>
<h2>Resumes</h2>
<div class="row">
    @for (var i = 0; i < 4; i++)
    {
        <div class="col-3">
            <div class="card">
                <img src="~/images/resumePlaceHolder.webp" class="card-img-top img-fluid" alt="..." style="max-height:200px; wid">
                <div class="card-body">
                    <h5 class="card-title">Resume Title</h5>
                    <p class="card-text">Resume small description of extract</p>
                </div>

                <div class="card-body">
                    <a href="Resume/Edit" class=" btn btn-light "><i class="fa-solid fa-pen"></i> Edit</a>
                    <a href="#" class=" btn  btn-light "><i class="fa-solid fa-eye"></i> Preview</a>
                    @*<a href="#" class=" btn btn-light "><i class="fa-solid fa-download"></i>Download</a>*@
                </div>
            </div>
        </div>
    }
</div>
