html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    min-height: 100%;
}


#Pageloader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgb(173, 181, 189, 0.75) url(/images/loader.gif) no-repeat center center;
    background-size:90px;
    z-index: 10000;
}
